.calculadora {
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #1c067e;
  width: 350px;
  height: auto;
  border-radius: 15px;
}
.calculadora td button {
  display: block;
  width: 70px;
  height: 70px;
  font-size: 25px;
}

.calculadora td button {
  display: block;
  width: 70px;
  height: 70px;
  font-size: 25px;
}
#suma {
  background-color: rgb(56, 55, 55);
  color: #fff;
}
#resta {
  background-color: rgb(56, 55, 55);
  color: #fff;
}
#multiplicacion {
  background-color: rgb(56, 55, 55);
  color: #fff;
}
#igual {
  background-color: rgb(56, 55, 55);
  color: #fff;
}
#division {
  background-color: rgb(56, 55, 55);
  color: #fff;
}
#raiz {
  background-color: rgb(56, 55, 55);
  color: #fff;
}
#potencia {
  background-color: rgb(56, 55, 55);
  color: #fff;
}
#vacio {
  background-color: rgb(56, 55, 55);
  color: #fff;
}
#reset {
  background-color: red;
  color: #fff;
}
#resultado {
  display: block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  width: 300px;
  height: 100px;
  line-height: 100px;
  background-color: #fff;
  border-radius: 15px;
  overflow-y: scroll;
}
